@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PassportChecker.Web</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.0.0/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>

    <div id="div_entryContainer" class="container master-width">
        <div class="alert alert-danger" id="error" style="display:none"></div>
        <div class="data-entry data-entry-alignment input-width">

            <form id="frm_passport">
                <div>
                    <img alt="Person" class="img-alongside person-image" src="~/images/person.png" />
                </div>
                <div class="form-group row display-input">
                    <label for="passportnumber" class="col-sm-3 col-form-label">Passport No.</label>
                    <div class="col-sm-9">
                        <!--https://stackoverflow.com/a/18510925/833878-->
                        <input class="form-control" name="passportnumber" id="passportnumber" type="text" pattern="\d" maxlength="9" required />
                    </div>

                    <label for="nationality" class="col-sm-3 col-form-label">Nationality</label>
                    <div class="col-sm-9 display-input">
                        <select id="nationality" name="nationality"></select>
                    </div>

                    <label for="dob" class="col-sm-3 col-form-label">Date Of Birth</label>
                    <div class="col-sm-9">
                        <input class="form-control" id="dateofbirth" name="dateofbirth" type="date" />
                    </div>

                    <label for="gender" class="col-sm-3 col-form-label">Gender</label>
                    <div class="col-sm-9">
                        <select id="gender" name="gender"></select>
                    </div>

                    <label for="dateofexpiry" class="col-sm-3 col-form-label">Date Of Expiry</label>
                    <div class="col-sm-9">
                        <input class="form-control" id="dateofexpiry" name="dateofexpiry" type="date" />
                    </div>
                </div>
                <div class="mrz">

                    <label for="mrz" class="">mrz(Line2)</label>
                    <div class="mrz input-length">
                        <input style="display:inline-block" name="mrzLine2" id="mrz" type="text" />
                    </div>
                </div>
                <div>
                    <button id="btn_validate" class="centre-button" type="submit">Validate</button>
                </div>
            </form>
        </div>
    </div>
    <div id="results" class="master-width" style="display:none">
        <h1>Results</h1>
        <table id="tbl_results">
            <thead>
                <tr><th></th><th></th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>Passport Number Check Digit</td>
                    <td><span class="result-text" id="passportNumberCheckDigit"></span></td>
                </tr>
                <tr>
                    <td>Date of Birth Check digit</td>
                    <td><span class="result-text" id="dateOfBirthCheckDigit"></span></td>
                </tr>
                <tr>
                    <td>Passport Expiration Date check digit</td>
                    <td><span class="result-text" id="passportExpirationDateCheckDigit"></span></td>
                </tr>
                <tr>
                    <td>Personal number check digit</td>
                    <td><span class="result-text" id="personalNumberCheckDigit"></span></td>
                </tr>
                <tr>
                    <td>Final check digit</td>
                    <td><span class="result-text" id="finalCheckDigit"></span></td>
                </tr>
                <tr>
                    <td>Gender cross check</td>
                    <td><span class="result-text" id="genderCrossCheck"></span></td>
                </tr>
                <tr>
                    <td>Date of Birth cross check</td>
                    <td><span class="result-text" id="dateOfBirthCrossCheck"></span></td>
                </tr>
                <tr>
                    <td>Expiration date cross check</td>
                    <td><span class="result-text" id="expirationDateCrossCheck"></span></td>
                </tr>
                <tr>
                    <td>Nationality cross check</td>
                    <td><span class="result-text" id="nationalityCrossCheck"></span></td>
                </tr>
                <tr>
                    <td>Passport No. cross check</td>
                    <td><span class="result-text" id="passportNumberCrossCheck"></span></td>
                </tr>
            </tbody>
        </table>
        <button type="button" id="btn_checkAnother">Check another</button>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/js/plugins.js" asp-append-version="true"></script>
        <script src="~/js/utility.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.0.0/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"
                asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-rZfj/ogBloos6wzLGpPkkOr/gpkBNLZ6b6yLy4o+ok+t/SAKlL5mvXLr0OXNi1Hp">
        </script>
        
        <script src="~/js/plugins.js" asp-append-version="true"></script>
        <script src="~/js/utility.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
</body>
</html>
